body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }
.page-footer .footer{
    height: 150px;
}
.cs-code .container{
    padding-left:230px;
}
nav .nav-wrapper{
    background-color:#00BCD4;
    color:#727272;
    z-index: 1000;
}
nav .brand-logo{
    color:#212121;
    padding-left:20px;
}
.side-nav{
    text-align:left;
    margin-left:-10px;
    background-color:#00BCD4;
    color:#212121;
    width: 80px;
    border: 1px solid #00BCD4;
     transition: width 0.13s ease-in;
    -moz-transition: width 0.13s ease-in;
    -webkit-transition: width 0.13s ease-in;
    -o-transition: width 0.13s ease-in;
}
.side-nav:hover{
    opacity: 1;
    width: 230px;
}
.side-nav span{
    display:none;
}
.side-nav:hover span{
    display:block;
}
.cs-code{
    padding-left: 50px;
}
.collapsible-body p{
    padding: 0px;
    margin: 0px;
    background-color: #B2EBF2;
    padding-left:32px;
}
.side-nav li{
    line-height:35px;
}
.resume-snap{
    line-height: 25px;
}
.row{
    margin-top: 700px;
}
